body{
    background-image: url('img/pozadina.jpg');
}
.contact{
    text-align: center;
   
}
input{
      width:15%;
      height: 30px;
      margin-bottom: 10px;
      border-radius:10px;
      padding-left: 10px;
      background: rgb(79, 223, 215);
      border: 2px solid  rgb(27, 59, 57);
}
.dugme input{
    width: 10%;
    height: 30px;
    font-size: 16pt;
    font-weight: bold;
    color: rgb(153, 28, 87);
}
textarea{
    border-radius:10px;
    background:  rgb(79, 223, 215);
    border: 2px solid rgb(27, 59, 57);

}

a {
    display: inline;
    color: green;
    font-family: 'Cherry Bomb', cursive;
    padding: 10px;
    
    }
    


nav{
        background-color: white;
        text-align: right;
        
    }
.contact a{
        text-decoration: none;
        font-size: 16;
        color: green;
        font-weight: bold;
        border: 2px solid white;
        font-family: 'Cherry Bomb', cursive;
        border-radius: 20px;
        padding: 2px 8px;
    }
.slike1 {
        display: flex;
        justify-content: space-around;
    }
.prodavnica {
        border: 1px solid black;
        border-radius: 20px;
    }
.dostava {
        border: 1px solid black;
        border-radius: 20px;
    }
.kontakt {
        border: 1px solid black;
        border-radius: 20px;
    }
.container {
    background-color: white;
}
.paragraf1 {
    background-color: #89b431;
    padding-left: 15px;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navig{
    display:flex;
    justify-content: space-around;
    width: 40%;
}
.navig a{
    padding: 15px;
}